---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import BlogPost from '../components/NewsPost.astro';
import BaseLayout from "../layouts/BaseLayout.astro";
import '../styles/global.css';

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "News";
---

<BaseLayout pageTitle={pageTitle}>

	<!------ Page Content ------> 
	<h1>{pageTitle}</h1>
    <p>Coming soon!</p>
		
    <!------ Post Links ------>
    <ul>
        {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
    
</BaseLayout>