---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Projects";
---
<BaseLayout pageTitle={pageTitle}>

  <!------ Page Content ------> 
  <h1>Take a look at my projects</h1>
  <h2>PROJECTS</h2>

</BaseLayout>

<style>
      h1 {
      text-align: left;
      line-height: 0;
      padding-top: 1rem;
    }
    
    h2 {
      color: orange;
      text-align: left;
    }

    html.dark h2 {
        color: greenyellow;
    }
</style>