---
import Social from './Social.astro';
---

<footer class="footer">
    <p class="footer-heading">Connect with me!</p>
    <div class="footer-links">
        <Social platform="YouTube" username="@MachineLearningandRobotics" />
        <Social platform="GitHub" username="BastianChristensen" />
        <Social linkedin="LinkedIn" usernamelinkedin="bastian-christensen-23368b26a" />
    </div>
    <p class="footer-copyright">© 2025 Bastian Christensen. All rights reserved.</p>
</footer>