---
import ProjectPages from '../../layouts/ProjectPages.astro';

const metadata = {
  title: "Game using Godot",
  upDate: "08/04/2025",
  proNum: "02",
  color: "#50A5F2"
};
---

<ProjectPages {...metadata}>
  <h2>About this project</h2>
  <p>Godot Game</p>
</ProjectPages>