---
import ProjectPages from '../../layouts/ProjectPages.astro';

const metadata = {
  title: "Website using Astro",
  upDate: "08/04/2025",
  proNum: "01",
  color: "#772DFF"
};
---

<ProjectPages {...metadata}>
  <h2>About this project</h2>
</ProjectPages>